{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Edit Contact Details</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">

        <a href="{{ path('contact') }}">
            Back to the list
        </a>

    {{ form(delete_form) }}
</ul>
{% endblock %}
